<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rows</key>
	<array>
		<dict>
			<key>Image</key>
			<string>gentlefoaming</string>
			<key>Title</key>
			<string>Skincare</string>
			<key>Description</key>
			<string>Rich in botanical oils and extracts for healthy, radiant skin. Reflects the Australian spirit and lifestyle - natural, easygoing and refreshingly real.</string>
			<key>Children</key>
			<array>
				<dict>
					<key>Directory</key>
					<string></string>
					<key>Image</key>
					<string>icon</string>
					<key>Title</key>
					<string>Cleanse &amp; Tone</string>
					<key>Description</key>
					<string>Cleansers, scrubs and toners to keep your skin fresh and clean</string>
					<key>Children</key>
					<array>
						<dict>
							<key>Product</key>
							<string>1</string>
							<key>View</key>
							<integer>1</integer>
							<key>Image</key>
							<string>clay&amp;plant</string>
							<key>Title</key>
							<string>Clay and Plant Face Mask</string>
							<key>Description</key>
							<string>Active mineral rich mask. A purifying blend of Australian clay with cleansing and rejuvenating properties. For all skin types.</string>
						</dict>
						<dict>
							<key>View</key>
							<integer>2</integer>
							<key>Image</key>
							<string>gentlecleansing</string>
							<key>Title</key>
							<string>Gentle Cleansing Wipes</string>
							<key>Description</key>
							<string>Sweeps away make-up fast. Gently cleanses and purifies skin without drying it out. For all skin types.</string>
						</dict>
						<dict>
							<key>Image</key>
							<string>gentlefacial</string>
							<key>Title</key>
							<string>Gentle Facial Scrub</string>
							<key>Description</key>
							<string>A skin brightening face polish to lightly buff and refine. Improves texture and appearance. For all skin types.</string>
						</dict>
						<dict>
							<key>Image</key>
							<string>gentlefoaming</string>
							<key>Title</key>
							<string>Gentle Foaming Facial Cleanser</string>
							<key>Description</key>
							<string>Soap free cleanser with a neutral pH. Extra low foaming to avoid stripping skin of vital moisture. For all skin types.</string>
						</dict>
						<dict>
							<key>Image</key>
							<string>pure&amp;gentle</string>
							<key>Title</key>
							<string>Pure and Gentle Cleansing Cream</string>
							<key>Description</key>
							<string>Plant-based, non-lathering cream cleanser. Gently removes make-up and excess oil while maintaining the skin&apos;s normal moisture levels. For all skin types.</string>
						</dict>
						<dict>
							<key>Image</key>
							<string>refreshing</string>
							<key>Title</key>
							<string>Refreshing Face Mist</string>
							<key>Description</key>
							<string>A refreshing burst of moisture revives and restores skins moisture. For all skin types.</string>
						</dict>
						<dict>
							<key>Image</key>
							<string>rosewater</string>
							<key>Title</key>
							<string>Rosewater and Chamomile Gentle Skin Toner</string>
							<key>Description</key>
							<string>Alcohol free, plant-based lotion to help purify and tighten pores. For all skin types.</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Image</key>
					<string>icon</string>
					<key>Title</key>
					<string>Moisturise &amp; Protect</string>
					<key>Description</key>
					<string>Nourish, hydrate and protect your face for smooth, soft and supple skin</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Ageless Skincare</string>
					<key>Description</key>
					<string>Enriched with Organic Rosehip Oil, a powerful source of Vitamin C, the new skincare range delivers antioxidant support to your skin to ward off free radical damage.</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Renew Radiance</string>
					<key>Description</key>
					<string>Nature&apos;s two most potent antioxidants work together to protect skin from environmental stress, enabling skin to stay younger for longer</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Face Lift Results</string>
					<key>Description</key>
					<string>Innovative beauty treatments to deliver a more radiant, youthful complexion</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Young</string>
					<key>Description</key>
					<string>Fuss-free products with natural extracts for skin prone to breakouts or excessive oil</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Sensitive Skin</string>
					<key>Description</key>
					<string>This sensitivity-tested range is designed for those who simply prefer 100 percent fragrance free products and works in conjunction with the rest of the mild Natio collection</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>colour</string>
			<key>Title</key>
			<string>Colour</string>
			<key>Description</key>
			<string>Harmonious, wearable shades to complement your natural beauty.</string>
			<key>Children</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Natural Beauty</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Mineral Makeup</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Ageless Make-up</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Foundations</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Powders</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Lips</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Eyes</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Blush</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Bronzers</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Nails</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Brushes</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>spawithorganics</string>
			<key>Title</key>
			<string>Spa with Organics</string>
			<key>Description</key>
			<string>Turn your world into an oasis of calm. Bath and body care enriched with certified organic plant extracts and essential oils to nurture wholeheartedly.</string>
			<key>Children</key>
			<array/>
		</dict>
		<dict>
			<key>Image</key>
			<string>wellness</string>
			<key>Title</key>
			<string>Wellness</string>
			<key>Description</key>
			<string>Imagine if every day was a holiday. Balance your busy outer life with inner calm. Take a breath and find bliss in an everyday moment. Stop, inhale calm and absorb wellness.</string>
			<key>Children</key>
			<array/>
		</dict>
		<dict>
			<key>Image</key>
			<string>formen</string>
			<key>Title</key>
			<string>For Men</string>
			<key>Description</key>
			<string>Easy to use skin, hair and shave treatments created with men in mind</string>
			<key>Children</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Screen A</string>
					<key>View</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>sunbody</string>
			<key>Title</key>
			<string>Body/Sun</string>
			<key>Description</key>
			<string>Nurturing body care, hair care and sun protection.</string>
			<key>Children</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Body Firm Results</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Body Fresh</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Hair Care</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Hand Care</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Sun</string>
					<key>Children</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Screen C</string>
							<key>View</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>corporate</string>
			<key>Title</key>
			<string>Corporate &amp; Hospitality</string>
			<key>Description</key>
			<string>Corporate gifts and hospitality amenities to nurture the body and delight the senses.</string>
			<key>Children</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Hospitality Guest Amenities</string>
					<key>Children</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Screen E</string>
							<key>Children</key>
							<array>
								<dict>
									<key>Title</key>
									<string>Screen F</string>
									<key>View</key>
									<integer>3</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Title</key>
					<string>Corporate Gifts</string>
					<key>Children</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Screen E</string>
							<key>Children</key>
							<array>
								<dict>
									<key>Title</key>
									<string>Screen F</string>
									<key>View</key>
									<integer>3</integer>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>specials</string>
			<key>Title</key>
			<string>Specials</string>
			<key>Description</key>
			<string>Last opportunity to purchase any favorites.</string>
			<key>Children</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Screen G</string>
					<key>Children</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Screen H</string>
							<key>Children</key>
							<array>
								<dict>
									<key>Title</key>
									<string>Screen I</string>
									<key>Children</key>
									<array>
										<dict>
											<key>Title</key>
											<string>Screen J</string>
											<key>View</key>
											<integer>3</integer>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
